@import "~office-ui-fabric-react/dist/sass/References.scss";

.teamsrecordings {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.header {
  font-size: $ms-font-size-32;
  color: #6264a7;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meetinginfo {
  font-size: $ms-font-size-18;
  color: #6264a7;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.links {
  a {
    text-decoration: none;
    color: #6264a7;
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: none;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
