@import "~office-ui-fabric-react/dist/sass/References.scss";

.teamsrecordings {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.header {
  font-size: $ms-font-size-32;
  color: #6264a7;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  text-decoration: none;
  font-size: $ms-font-size-20;
  color: #6264a7;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meetinginfo {
  text-decoration: none;
  font-size: $ms-font-size-18;
  color: #6264a7;
  align-items: center;
  text-align: center;
}
